@import 'tailwindcss';
@import 'uniwind';

@theme {
  --font-sans: 'Satoshi Variable';
  --font-serif: 'Sentient Variable';
}

/* Colors are synced with constants/colors.ts */
@layer theme {
    :root {
        @variant dark {
            --color-background: oklch(0.145 0 0);
            --color-foreground: oklch(0.985 0 0);
            --color-card: oklch(0.205 0 0);
            --color-card-foreground: oklch(0.985 0 0);
            --color-primary: oklch(0.623 0.214 264.1);
            --color-primary-foreground: oklch(0.985 0 0);
            --color-primary-border: oklch(75% 0.183 55.934);
            --color-muted: oklch(0.269 0 0);
            --color-muted-foreground: oklch(0.708 0 0);
            --color-border: oklch(1 0 0 / 10%);
            --color-input: oklch(1 0 0 / 15%);
            --color-chat: oklch(0.205 0 0);
            --color-chat-foreground: oklch(0.985 0 0);
            --color-user-bubble: oklch(0.627 0.225 37);
            --color-user-bubble-foreground: oklch(0.985 0 0);
            --color-destructive: oklch(0.704 0.191 22.216);
            --color-destructive-foreground: oklch(0.985 0 0);
        }

        @variant light {
            --color-background: oklch(0.985 0 0);
            --color-foreground: oklch(0.145 0 0);
            --color-card: oklch(1 0 0);
            --color-card-foreground: oklch(0.145 0 0);
            --color-primary: oklch(0.546 0.215 264.1);
            --color-primary-foreground: oklch(0.985 0 0);
            --color-primary-border: oklch(75% 0.183 55.934);
            --color-muted: oklch(0.97 0 0);
            --color-muted-foreground: oklch(0.556 0 0);
            --color-border: oklch(0.922 0 0);
            --color-input: oklch(0.922 0 0);
            --color-chat: oklch(0.961 0 0);
            --color-chat-foreground: oklch(0.145 0 0);
            --color-user-bubble: oklch(0.546 0.215 264.1);
            --color-user-bubble-foreground: oklch(0.985 0 0);
            --color-destructive: oklch(0.577 0.245 27.325);
            --color-destructive-foreground: oklch(0.985 0 0);
        }
    }
}
