@import 'tailwindcss';
@import 'uniwind';

@theme {
  --font-sans: 'Satoshi Variable';
  --font-serif: 'Sentient Variable';
}

/* Colors are synced with constants/colors.ts */
@layer theme {
    :root {
        @variant dark {
            --color-background: oklch(14.5% 0 0);
            --color-foreground: oklch(98.5% 0 0);
            --color-primary: oklch(70.5% 0.213 47.604);
            --color-primary-border: oklch(75% 0.183 55.934);
            --color-muted: oklch(70.8% 0 0);
            --color-chat: oklch(20.5% 0 0);
            --color-muted-foreground: oklch(26.9% 0 0);
            --color-card: oklch(18.5% 0 0);
            --color-border: oklch(26.9% 0 0);
            --color-user-bubble: oklch(55.3% 0.195 38.402);

        }

        @variant light {
            --color-background: #fafafa;
            --color-foreground: #0a0a0a;
            --color-primary: #2563eb;
            --color-primary-border: oklch(75% 0.183 55.934);
            --color-chat: #f0f0f0;
            --color-muted: #f4f4f5;
            --color-muted-foreground: #71717a;
            --color-card: #ffffff;
            --color-border: #e4e4e7;
            --color-user-bubble: #2563eb;
        }
    }
}
