@import 'tailwindcss';
@import 'uniwind';

@theme {
  --font-sans: 'Satoshi Variable';
  --font-serif: 'Sentient Variable';
}

/* Colors are synced with constants/colors.ts */
@layer theme {
    :root {
        @variant dark {
            --color-background: #0a0a0a;
            --color-foreground: #f5f5f5;
            --color-primary: #3b82f6;
            --color-primary-border: oklch(75% 0.183 55.934);
            --color-muted: #a3a3a3;
            --color-chat: oklch(20.5% 0 0);
            --color-muted-foreground: oklch(26.9% 0 0);
            --color-card: #111111;
            --color-border: oklch(26.9% 0 0);
            --color-user-bubble: #1e3a8a;

        }

        @variant light {
            --color-background: #fafafa;
            --color-foreground: #0a0a0a;
            --color-primary: #2563eb;
            --color-primary-border: oklch(75% 0.183 55.934);
            --color-chat: #f0f0f0;
            --color-muted: #f4f4f5;
            --color-muted-foreground: #71717a;
            --color-card: #ffffff;
            --color-border: #e4e4e7;
            --color-user-bubble: #2563eb;
        }
    }
}
